@charset "UTF-8";

/*
**--------------------------------------------------------------------------
**
** [ A ]LPHA
**
**--------------------------------------------------------------------------
*/

/**
 * For Android/other browsers:
 */

html { font-family: "alpha"; }

/**
 * If not using respond.js, you might need:
 */

html.no-js {
	font-family: "large"\0/; /* IE8 */
	*font-family: "large";  /* <=IE7 */
	_font-family: "large";  /* <=IE6 */
}

/**
 * Make Opera/other happy:
 */

body:after { content: "alpha"; display: none; }

/**
 * Override `<html>` inheritance:
 */

body { font-family: Arial, sans-serif; }

/**
 * Demo-specific styles:
 */

body { background: yellow; }
.bravo, .charlie, .large, .delta { display: none; }
.alpha { display: block; }

/*
**--------------------------------------------------------------------------
**
** [ B ]RAVO
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 665px) {
	
	/**
	 * For Android/other browsers:
	 */
	
	html { font-family: "bravo"; }
	
	/**
	 * Make Opera/other happy:
	 */
	
	body:after { content: "bravo"; }
	
	/**
	 * Demo-specific styles:
	 */
	
	body { background: lime; }
	.alpha { display: none; }
	.bravo { display: block; }
	
}

/*
**--------------------------------------------------------------------------
**
** [ C ]HARLIE
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1005px) {
	
	/**
	 * For Android/other browsers:
	 */
	
	html { font-family: "charlie"; }
	
	/**
	 * Make Opera/other happy:
	 */
	
	body:after { content: "charlie"; }
	
	/**
	 * Demo-specific styles:
	 */
	
	body { background: green; }
	.bravo { display: none; }
	.charlie { display: block; }
	
}

@media only screen and (min-width: 1200px) {
	
	/**
	 * For Android/other browsers:
	 */
	
	html { font-family: "large"; }
	
	/**
	 * Make Opera/other happy:
	 */
	
	body:after { content: "large"; }
	
	/**
	 * Demo-specific styles:
	 */
	
	body { background: gray; }
	.charlie { display: none; }
	.large { display: block; }
	
}

/*
**--------------------------------------------------------------------------
**
** [ D ]ELTA
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1345px) {
	
	/**
	 * For Android/other browsers:
	 */
	
	html { font-family: "delta"; }
	
	/**
	 * Make Opera/other happy:
	 */
	
	body:after { content: "delta"; }
	
	/**
	 * Demo-specific styles:
	 */
	
	body { background: orange; }
	.large { display: none; }
	.delta { display: block; }
	
}