@charset "UTF-8";

/*
**--------------------------------------------------------------------------
**
** Small:
**
**--------------------------------------------------------------------------
*/

html { font-family: "small"; }

/*
**----------------------------------
** IE with no javascript:
**----------------------------------
*/

/* If not using respond.js, you might need: */
html.no-js {
	font-family: "large"\9; /* <=IE8 */
	*font-family: "large";  /* <=IE7 */
	_font-family: "large";  /* <=IE6 */
}

/*
**----------------------------------
** Override <html> inheritance:
**----------------------------------
*/

body { font-family: Arial, sans-serif; } /* Serif: Cambria, Georgia, serif; */

/*
**----------------------------------
** Generate pseudo-element:
**----------------------------------
*/

body:after {
	content: "small";
	display: none;
}

/*
**--------------------------------------------------------------------------
**
** Medium:
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 450px) {
	
	html { font-family: "medium"; }
	body:after { content: "medium"; }
	
}

/*
**--------------------------------------------------------------------------
**
** Large:
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 900px) {
	
	html { font-family: "large"; }
	body:after { content: "large"; }
	
}

/*
**--------------------------------------------------------------------------
**
** xLarge:
**
**--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1350px) {
	
	html { font-family: "xlarge"; }
	body:after { content: "xlarge"; }
	
}